@keyframes circle{
    0%{

    }
    17%{
        border-radius:0px;
    }
    34%{
        background: linear-gradient(rgb(245, 209, 5), rgb(146, 255, 3));
    }
    51%{
        width:125px;
        height:75px;
        transform: skew(10deg,0deg);
    }
    68%{
        transform: rotate(180deg)
    }
    85%{
        background: linear-gradient(yellow, rgb(166, 240, 69));
    }
    100%{
        width:100px;
        height: 100px;
        border-radius: 50px;
    }
}
.circle{
    margin:50px;
    width:100px;
    height: 100px;
    border-radius: 50px;
    background: linear-gradient(yellow, rgb(166, 240, 69));
    animation: circle 12s infinite;
}