div{
    text-align:center;
}
.div1{
    border:solid black 1px; 
    height:50px;
    width: 200px;
    padding:5px;
    background: grey;
    border-radius:10px;
}
.div2{
    border:solid grey 1px; 
    height:45px;
    width: 195px;
    background:linear-gradient(rgb(192, 191, 191),rgb(71, 71, 71));
    display:inline-block;
    border-radius:10px;
}
.star1{
    float:left;
    width:10px;
    height:10px;
}
.star2{
    width:10px;
    height:10px;
    float:right;
}
.word{
    float:left;
}