.table{
    border-spacing:3px; 
    height:500px; 
}
.table__first-up{
    background: rgb(239, 245, 255);
}
.table__first-up:hover{
    background: rgb(185, 185, 185);
}    
.table tr:nth-child(odd){
    background: rgb(239, 245, 255);
}
.table tr:nth-child(even){
    background: rgb(235, 235, 235);
}
.table tr:hover{
    background: rgb(185, 185, 185);
}
.table td{
    padding:10px;
}
.table__first-up #td{
    padding:5px 15px 5px 15px;
}
